<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> UI for Example Shop </ion-card-title>
      <ion-card-subtitle> This app is the front end view for the Example Shop API </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Buttons to test the project </ion-card-title>
      <ion-list>
        <ion-buttons slot="start">
          <ion-button> Make a buy! </ion-button>
        </ion-buttons>
      </ion-list>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header> Project Github Link </ion-list-header>
        <a href="https://www.github.com">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Github" src="../../assets/icon/github-mark-white.svg" />
            </ion-thumbnail>
            <ion-label> Here you can see the code and documentation of the project </ion-label>
          </ion-item>
        </a>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>